@model MiPrimerApp.Models.Mascota

@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<section class="content jumbotron">
    @using (Html.BeginForm("Contact", "Home", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.Nombre, "Nombre")
            @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control", placeholder = "Nombre de la Mascota" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Edad, "Edad")
            @Html.TextBoxFor(m => m.Edad, new { @class = "form-control", placeholder = "Edad de la Mascota" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Descripcion, "Descripcion")
            @Html.TextBoxFor(m => m.Descripcion, new { @class = "form-control", placeholder = "Descripcion de la Mascota" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.CorreoContacto, "Correo de Contacto")
            @Html.TextBoxFor(m => m.CorreoContacto, new { @class = "form-control", type="email"})
        </div>
        <input type="submit" class="btn btn-primary" value="Enviar"/>
    }
</section>